/data/*
pyspark_src/dist/
pyspark_src/build/
*.egg-info
__pycache__
pyspark_src/pyspark/build
pyspark_src/pyspark/dist
.pytest_cache
pyspark_src/dependencies/
pyspark_src/dependencies.zip
virtual_env
.vscode
.idea